/* header */
#header {
	background:#FCD271;;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100px;

	text-align: center;
	line-height: 100px;
	font-size : 25px;
	font-family:unset;
}


/* body */
#body{
	margin : 0;
	padding : 0;
}
#body div{
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: 100%;
	height: 100%;
}

.rounded1{
	background: #F78D3F;
	margin: auto;
	width: 90%;
	height: 70px;
	border-radius: 0.5rem;
	list-style: none;
	margin-top: 10px;
	margin-bottom: 10px;

	text-align: center;
	line-height: 65px;
	font-size : 25px;
	font-family:unset;
}

.rounded3{
	background: #2BBBD8;
	margin: auto;
	width: 90%;
	height: 70px;
	border-radius: 0.5rem;
	list-style: none;
	margin-top: 10px;
	margin-bottom: 10px;

	text-align: center;
	line-height: 65px;
	font-size : 25px;
	font-family:unset;
}

.rounded2{
	background: #E8EDE0;
	margin: auto;
	width: 90%;
	height: 70px;
	border : 3px solid #d7dbcf;
	border-radius: 0.5rem;
	list-style: none;
	margin-top: 10px;
	margin-bottom: 10px;

	text-align: center;
	line-height: 65px;
	font-size : 25px;
	font-family:unset;
}

/* footer */
#footer {
	background: #102E37;
	margin: 0;
	padding: 0;
}
#footer div {
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: 100%;
}
#footer div p {
	color: #fff;
	float: left;
	line-height: 44px;
	margin: auto;
	padding: 0;
}
#footer div ul {
	display: inside;
	float: right;
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: 20%;
}
#footer div ul li {
	display: inside;
	float: left;
	list-style: none;
	margin: 0 10px;
	padding: 0;
	width: 44px;
}

/* Icons */
.box {
	position: relative;
    width: 50px;
    height: 50px; 
    border-radius: 70%;
    overflow: hidden;
}
