/* header */
#header {
	background:#FAC172;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 200px;

	text-align: center;
	line-height: 220px;
	font-size : 150px;
	font-family:Jua;
}

/* body */
#body{
	margin : 0;
	padding : 10px;
}
#body div{
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: 100%;
	height: 100%;
}

#body div ul li{
	float:left;
	margin:20px;
}

a{
	text-decoration: none;
	color:inherit;
}

.rounded1{
	background: #F3BFBE;
	margin: 10px;
	width: 45%;
	height: 300px;
	border-radius: 1rem;
	list-style: none;

	text-align: center;
	line-height: 450px;
	font-size : 80px;
	font-family:Jua;
}

.rounded2{
	background: #B0C9DF;
	margin: 10px;
	width: 45%;
	height: 300px;
	border-radius: 1rem;
	list-style: none;

	text-align: center;
	line-height: 450px;
	font-size : 80px;
	font-family:Jua;
}

.rounded3{
	background: #F5D473;
	margin: 10px;
	width: 45%;
	height: 300px;
	border-radius: 1rem;
	list-style: none;

	text-align: center;
	line-height: 450px;
	font-size : 80px;
	font-family:Jua;
}


/* footer */
#footer {
	background: #555555;
	margin: 0;
	padding: 0;
}
#footer div {
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: 100%;
}
#footer div p {
	color: #fff;
	float: left;
	line-height: 44px;
	margin: auto;
	padding: 0;
}
#footer div ul {
	display: inside;
	float: right;
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: 20%;
}
#footer div ul li {
	display: inside;
	float: right;
	list-style: none;
	margin: 0 10px;
	padding: 0;
	width: 44px;
}

/* Icons */
.box {
	position: relative;
    width: 50px;
    height: 50px; 
    border-radius: 70%;
    overflow: hidden;
}
